@model SupplierProductRate
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="SupplierProductRate">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Add SupplierProduct Rate</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="SupplierProductRate">

                <div class="row mb-2">
                    <div class="col-9">
                        <div class="mb-2">
                            <div class="dropdown">
                                <label>Unit Name</label>
                                <select asp-for="UnitId" asp-items="ViewBag.UnitId" class="form-select">
                                    <option disabled selected>--select Unit--</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label>Rate</label>
                            <input type="text" asp-for="Rate" class="form-control" />
                            <span asp-validation-for="Rate" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


