@model IEnumerable<SupplierProductRate>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Supplier Product Rate</h6>
        </div>
        <div class="card-body">
            <a asp-action="Create" asp-controller="SupplierProductRate" class="btn btn-primary">Add New Supplier Product Rate</a>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Unit Name</th>
                            <th>Rate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.Unit.UnitName</td>
                                <td>@data.Rate</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="ProductUnit" asp-route-id="@data.Id" class="btn btn-warning">Edit</a>
                                    <a asp-action="Delete" asp-controller="ProductUnit" asp-route-id="@data.Id" class="btn btn-warning">Delete</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

