@model Supplier
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Supplier">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Edit Supplier</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" asp-controller="Supplier">
                <div class="mb-3">
                    <label asp-for="CompanyName" class="form-label">Company Name</label>
                    <input asp-for="CompanyName" class="form-control">
                    <span asp-validation-for="CompanyName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ContactName" class="form-label">Contact Name</label>
                    <input asp-for="ContactName" class="form-control">
                    <span asp-validation-for="ContactName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="form-label">Address</label>
                    <input asp-for="Address" class="form-control">
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">PhoneNumber</label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>

                <table class="table">
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                    </tr>
                    @for (int i = 0; i < 5; i++)
                    {
                        string k1 = "key_" + i.ToString();
                        string dropdownName = $"SupplierProduct[{k1}].ProductId";
                        <tr>
                            <td>
                                <input type="hidden" name="SupplierProduct.index" value="@k1" /> @k1
                                <input type="hidden" name="SupplierProduct[@k1].Id" value="0" />
                            </td>
                            <td>
                                @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control Drop", @id = "ProductId_" + k1, @name=@dropdownName })
                            </td>
                        </tr>
                    }
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


