@model ProductCategory
<div class="row mb-2">
    <div class="col-9 mb-2">
        <label>Category ID</label>
        <label>@Model.Id</label>
    </div>
    <div class="col-9 mb-2">
        <label>Category Name</label>
        <label>@Model.CategoryName</label>
    </div>
</div>


